<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form action="/register" method="post">
        <section id="register">
            <h1>Registro</h1>
            <p>Name</p>
            <input type="text" id="name" name="username">
            <p>Email:</p>
            <input type="text" id="email" name="email">
            <p>Password:</p>
            <input type="password" id="password" name="password">
            <button id="btt-register1">Register</button>
        </section>
    </form>
    <script src="index.js"></script>
</body>
</html>